body{
  background-color: lightgrey; 
}
.bg{
  background-color: lightgrey;
}
.prime-color{
  background-color: #6200EE;  
}

.var-prime-color{
  background-color: #3700B3;
  background-color: #250257;
  background-color: #3e0292;
}

.sec-color{
  background-color: #03DAC6;
}

.var-sec-color{
  background-color: #018786;
}



.bg-color {
  background-image: linear-gradient(to bottom, #e32da3, #1698c7);
  background-color: #262b49;
}

.sidebar-color {  
  /* background-image: linear-gradient(to bottom, #0a3d7e, #a40d74); */
  
  background-color: #3e0292;
}

.sidebutton-color{
  background-color: rgba(17, 165, 223, 0.2);
  background-color: #3e0292;
}

.sidebutton:hover{
  background-color: rgba(91, 192, 232, 0.5);
}

.yoman{
  padding-left: 0.5rem;
}

.navbar-bg{
  background-color: #6200EE;
  background-color: #3e0292;
  /* background-image: linear-gradient(to bottom, #0a3d7e, #a40d74); */
}

.box-color {
  background-color: #262b49;
  background-color: #055775;
}
.red-grad-tl {
  background-image: linear-gradient(
    to bottom right,
    rgb(218, 90, 58),
    rgb(199, 16, 71)
  );
  /* background-color: linear-gradient(to top, #162dbf, #bf0aad);    ; */
}
.transparent-bg {
  background-color: rgb(247, 243, 243, 0.2);
}

th, td{
  color: rgb(0, 0, 0);
}
td:nth-child(even) {background-color: #f2f2f2;}
td:nth-child(even) {background-color: #f2f2f2;}

.chart-bg{  
  background-color: #8f228f;
  /* background-image: linear-gradient(rgb(241, 221, 228), rgb(180, 223, 228)); */
}

.text-bold{
font-weight: bolder;
font-size: 1.15em;
}

